*{
    background-color: black;        
    color: white;
    margin: 20px;
    font-size: 40px;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

.add_applicant{
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    padding: 35px;
    font-size: 30px;

}

.add_applicant:hover{
    background-color: white;
    color: black;
}

.vl {
    border-left: 6px solid rgb(255, 255, 255);
    height: 500px;
    position: absolute;

  }

.dummyuser{
margin-bottom: 10px;
background-color: rgba(255, 255, 255, 0.10);
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
