button[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
  }

  form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button[type="submit"]:hover {
    background-color: #555;
  }

  * {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-size: 18px;
  }

  input[type="time"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="text"] {
    width: 81%;
    height: 50px;
  }

  input[type="date"] {
    width: 81%;
    height: 50px;
  }

  /* #time
{
  display: inline;
} */
  .flex-container1 {
    width: 50%;

  }